<!-- @format -->
<!-- @format -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/pulse/bootstrap.min.css"
/>
<nav
  class="navbar navbar-expand-lg navbar-dark bg-primary"
  style="display: flex"
>
  <div class="container-fluid">
    <button type="" class="btn btn-dark disabled">
      <a class="navbar-brand" href="#"><h1>Naija Gist &#127760;</h1></a>
    </button>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01" style="left: 4cm">
      <h2 style="margin-left: 9cm">Sign up</h2>
    </div>
  </div>
</nav>

<div
  style="
    max-width: fit-content;
    padding: 50px;
    border: 5px;
    line-height: 150px;
    height: 150px;
    margin-left: 14cm;
  "
>
  <form action="" method="post">
    <div class="form-group">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="Mandy"
        />
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
      </div>
    </div>
    <div style="margin-left: 1.2cm">
      <button type="button" class="btn btn-primary btn-lg">Sign up!</button>
    </div>
  </form>
</div>
