<!-- @format -->

{% extends 'base.html' %} {% block content %}

<style>
  .blog_post {
    color: black;
    margin: 0.5cm;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
</style>

<div style="margin-left: 2cm">
  <h2 style="margin-top: 1cm">Welcome to Naija Gists Blog. &#128513;</h2>
  <p class="text-muted">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, fugiat voluptatibus. Officiis nostrum blanditiis eveniet rem in neque ea similique?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim delectus nobis hic vitae id aspernatur assumenda, unde tenetur, sapiente cupiditate maiores sit dignissimos corporis animi minus repudiandae? Animi, quae mollitia nisi adipisci ducimus commodi, accusamus saepe, inventore amet officia quidem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, obcaecati.
    Wanna have the latest news and updates at your fingertips? well, you're in
    the right place.Buckle up!&#10024;&#10024;

  </p>
</div>
<h2
  style="margin-left: 1cm; text-decoration: underline; color: rgb(242, 238, 245); font-family:'Times New Roman', Times, serifs;"
>
  Latest news:
</h2>

<div style="display: flex">
  <div
    style="
      float: left;
      margin-left: 2cm;
      bottom: 5em;
      flex-grow: 2;
      max-width: 60em;
    "
  >
    <!--This is where blog post starts-->
    {% for post in post_list %}
    <div class="blog_post" style="margin: 1cm;">
      <a
        class="list-group-item list-group-item-action flex-column align-items-start" >
      <div>
 <div style="">

        {% if post.image %}
        <img style="width: 18cm; height: 6cm; padding-top: 0; margin-top: 0; border-top: 0;" src="{{ post.image.url }}">
    {% endif %}


      </div>
        <div class="d-flex w-100 justify-content-between">
          <h4 class="mb-1" style="color: blue">{{post.title}}</h4>
          <small class="text-muted">{{post.created_on}}</small>
        </div>
        <p class="mb-1">{{post.content|slice:":200"}}...</p>
        <small class="text-muted">published by {{post.author}}</small>
        <!--This is the 'read more button'-->

        
        <a href="{% url 'post_detail' post.slug %}">
          <button type="button" class="btn btn-primary" style="float: right;">
            Read more &rarr;
          </button>
       </a>
     </div>
  </div>
    {%endfor%}

    <div class="card border-primary mb-3" style="max-width: 100rem">
      <div class="card-body">
        <h4 class="card-title" style="color: brown">Disclaimer:</h4>
        <p class="card-text">
          All the stories here are unreal and completely fake, do not Err!
        </p>
      </div>
    </div>
  </div>
  <div
    class="card border-warning mb-3"
    style="
      max-width: 20rem;
      float: right;
      margin-right: 3cm;
      top: 1.73em;
      margin-left: 1cm;
      height: fit-content;
    "
  >
    <div class="card-header"><h4>About Us.</h4></div>
    <div class="card-body">
      <h4
        class="card-title"
        style="
          box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
            rgba(0, 0, 0, 0.05) 0px 5px 10px;
        "
      >
        Truth: We are not real. &#128522;
      </h4>
      <p class="card-text">
        We post fake news that don't make sense, it might seem like we're
        jobless.....maybe we are, buh still, what's life without tomatoes, hei?!!
      </p>
    </div>
    {% endblock %}
  </div>
</div>







